@using Dashboard.Backoffice.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dashboard.Backoffice.Models.Modem

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}




<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" asp-controller="Home">
    <div class="container">
        <div class="row">

            <div class="col">
                <h3>Modem:</h3>
                <table class="table table-borderless">
                    <tr>
                        <td><label asp-for="Type"></label></td>
                        <td>
                            <select asp-for="Type" asp-items="Html.GetEnumSelectList<ModemTypeEnum>()">
                                <option selected="selected" value="@Model.Type"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Host"></label></td>
                        <td>
                            <input type="text" asp-for="Host" value="@Model.Host" />
                            <small><span asp-validation-for="Host"></span></small>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Port"></label></td>
                        <td>
                            <input type="text" asp-for="Port" value="@Model.Port" />
                            <small><span asp-validation-for="Port"></span></small>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="IfTimerRebootAllowed"></label></td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" asp-for="IfTimerRebootAllowed">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="RebootDelay"></label></td>
                        <td>
                            <input type="text" asp-for="RebootDelay" value="@Model.RebootDelay" />
                            <small><span asp-validation-for="RebootDelay"></span></small>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="col">
                <h3>Proxy:</h3>
                <table class="table table-borderless">
                    <tr>
                        <td><label asp-for="Proxy.Type"></label></td>
                        <td>
                            <select asp-for="Type" asp-items="Html.GetEnumSelectList<ProxyTypeEnum>()">
                                <option selected="selected" value="@Model.Proxy.Type"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Proxy.Login"></label></td>
                        <td><input type="text" asp-for="Proxy.Login" value="@Model.Proxy.Login" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Proxy.Password"></label></td>
                        <td><input type="text" asp-for="Proxy.Password" value="@Model.Proxy.Password" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Proxy.Ip"></label></td>
                        <td>
                            <input type="text" asp-for="Proxy.Ip" value="@Model.Proxy.Ip" />
                            <small><span asp-validation-for="Proxy.Ip"></span></small>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Proxy.Port"></label></td>
                        <td>
                            <input type="text" asp-for="Proxy.Port" value="@Model.Proxy.Port" />
                            <small><span asp-validation-for="Proxy.Port"></span></small>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="d-grid gap-2">
            <input class="btn btn-primary" type="submit" value="Сохранить" />
        </div>

    </div>


</form>